<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created by Michał M. Fedorczyk with help of Andrew Mead, during Udemy Course for educational purposes.</p>
        <img class="portrait" src="/img/IMG_20200825_115955.jpg">
        <p>This website uses data from API:
        <ul>
            <li>https://weatherstack.com</li>
            <li>https://www.mapbox.com</li>
        </ul>
        </p>
    </div>

    {{>footer}}
</body>

</html>