<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form action="">
            <input placeholder="Location" type="">
            <button>Search</button>
        </form>

        <p id="message-one"></p>
            
        <p id="message-two"></p>

    </div>

    {{>footer}}
    <script src="/js/custom.js"></script>
</body>

</html>